*{
  margin: 5px 15px 0 15px;
  font-family: Arial, Helvetica, sans-serif;
}
#imgHeader{
  width: 400px;
  height: 250px;
  border-style: double;
}
#h1Header{
  margin-top: 10px;
  margin-bottom: 10px;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: goldenrod;
  text-align: center;
}
#ulNavegador{
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  overflow: hidden;
}
.liNavegador{
  display: inline-block;
}
.liNavegador a{
  display: inline-block;
  margin-top: 0px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
}

