*{
    font-size: 18px;
    
}
#id_header{
    width: 800px;
    margin: 0 auto;
}
main{
    
    width: 500px;
    margin: 0px auto 20px auto;
}#title_id{
    width: 370px;
    margin: 0 auto;
}
#cargar{
    width: 400px;
    height: 23px;
    border:1px solid rgb(15, 15, 15);
    background-color: rgba(149, 153, 153, 0.486);
    border-radius: 10px;
    margin: 0px 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=file]{
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 8px;
}
img{
    width: 70px;
}
p{
    margin-top: 10px;
    margin-left: 5%;
    color: red;
}
h3{
    text-align: center;
    margin: 0 5px;
}
#actionV{
    text-align: left;
}
#categoria{
    background-color: rgb(75, 64, 233);
    margin: 0px 0px 0px 0px;
}
#hastag{
    background-color: aquamarine;
    margin: 0px 0px 0px 0px;
}
#descripcion{
    background-color: rgb(32, 7, 7);
    margin: 0px 0px 0px 0px;
}#fecha{
    margin: 15px auto;
}h1{
    font-size: 2.2em;
}#id_accion{
    margin-top: 10px;
}#table2{
    margin: 0px 0px 0px 0px;
    height: 150px;
}

#videos{
    width: 200px;
    margin-left: 30%;
    border:1px solid #649D45;
    border-radius: 6px;
    padding: 8px 25px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #649D45;
}#categoria{
    background-color:#CAE9B8;
    margin: 0px -6px 0px 0px;
    height: 150px;
    border: 2px solid black;
}#etiqueta{
    background-color: #ACC2F9;
    margin: 0px -6px 0px 0px;
    height: 150px;
    border: 2px solid black;
}#descripcion{
    background-color: #FAB2AF;
    margin: 0px 0px 0px 0px;
    height: 150px;
    border: 2px solid black;
}.content_table1{
    width: 340px;
    height: 125px;
}th{
    text-align: center;
}textarea{
    width: 120px;
    height: 100px;
}