*{
    margin: auto;
}
#titulo{
    text-align: center;
    font-size: 60px;
    color: red;
}
#identidad{
    border-color: red;
    font-size: 40px;
    color: gray;
    width: 500px;
}
#terminos{
    text-align: center;
}
#menu{
  color: white;
    background-color: red;
    font-size: 20px;
    border: 2px solid black;
}
#videosT{
    font-size: 20px;
}
#form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  .contenido{
      width: 200px;
  }

  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    text-align: center;
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  .clasificacion2 {
    text-align: center;
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }